.listarea{
    overflow-x: scroll;
    margin-top: 90px;
}
.list{
    display: inline-block;
    width: 3570px;
}
.item{
    width: 99%;
    margin: 0px 0px 0px 0px;
}
.card{
    margin: 0px 2% 0px 2%;
    border-radius: 50%; 
    border: 0px solid rgb(255, 255, 255) 
}
.cardtxt {
    margin: 20px 2% 30px 2%;
    text-align: center;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 300px;
    height: 100px;
    display: inline-table;

  }
