
.bgimg {
  background-position: center;
  background-image: url("/image/background.jpg");
  padding: 9%;
  height: cover;
  line-height: 700%;
  width:'auto';
  margin-bottom: 30px;
  margin-top: 55px;
  overflow: hidden;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  size: 99%;
}
.card {
  margin: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  width: 47%;
}
.bgmentores {
  background-position: center;
  background-size: cover;
  background-image: url("/image/colab.jpeg");
  padding: 3%;
  padding-top: 14%;
  height: 720px;
  width: auto;
  line-height: 99%;
  text-align: start;
  margin-bottom: 60px;
  margin-top: 75px;
}
.cardy{
  width: 95%;
  object-fit: fill;
  border-radius: 25px;
  border: 0px solid #030116;
  padding: 1px;
}
.bgapoiadores {
  background-position: center;
  background-size: cover;
  background-color: rgb(6, 1, 20);
  height: 99%;
  width: 100%;
  line-height: 99%;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20%;
  padding-top: 2%;
}
.banners{
  width: 320px;
  height: auto;
  object-fit: fill;
  border-radius: 25%;
  border: 30px solid #030116;
  padding: 1px;
  margin: 0px 0px 0px 0px
}
.textbox{
  width: 90px;
  height: 90px;
  text-align: left;
  display: inline-block;
}
.input{
  width: 70%;
  height: 40px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 9px;
}
.text{
  width: 70%;
  height: 120px;
  margin-left: 20px;
}
.contato{
  text-align: center;
  padding: 5%;
}